@import "tailwindcss";
@import "tw-animate-css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --background: oklch(0.9696 0 0);
  --foreground: oklch(0.1698 0 0);
  --card: var(--background);
  --card-foreground: var(--foreground);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2156 0 0);
  --primary-base: oklch(0.5311 0.1062 234.34);
  --primary: var(--primary-base);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.794 0.1709 71.06);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.934 0.0046 179.72);
  --muted-foreground: oklch(0.4371 0 0);
  --accent: oklch(0.9262 0.015 192.09);
  --accent-foreground: oklch(0.2044 0 0);
  --destructive: oklch(0.5426 0.1899 27.12);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(from var(--primary-base) l c h / 0.2);
  --input: oklch(from var(--primary-base) l c h / 0.2);
  --ring: var(--primary);
  --chart-1: oklch(0.6772 0.1571 35.19);
  --chart-2: oklch(0.6309 0.1013 183.49);
  --chart-3: oklch(0.3787 0.044 225.54);
  --chart-4: oklch(0.8336 0.1186 88.15);
  --chart-5: oklch(0.7834 0.1261 58.75);
  --radius: 0.875rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.1457 0 0);
  --foreground: oklch(0.92 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(0.9427 0.0097 73.14);
  --primary-base: oklch(0.7869 0.1165 192.26);
  --primary-foreground: oklch(0.2044 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7153 0 0);
  --accent: oklch(0.7865 0.1167 191.56 / 12.5%);
  --accent-foreground: oklch(0.9848 0 0);
  --destructive: oklch(0.58 0.1348 25.77);
  --destructive-foreground: oklch(1 0 0);
  --chart-1: oklch(0.5292 0.1931 262.13);
  --chart-2: oklch(0.6983 0.1337 165.46);
  --chart-3: oklch(0.7232 0.15 60.63);
  --chart-4: oklch(0.6192 0.2037 312.73);
  --chart-5: oklch(0.6123 0.2093 6.39);
  --sidebar: oklch(0.205 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-base: var(--primary-base);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
